[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = SAN
prompt             = no
[ req_distinguished_name ]
countryName                 = DE
localityName               = Berlin
organizationName           = Example
commonName                 = Example
[ SAN ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = SERVER_NAME

#https://geekflare.com/san-ssl-certificate/