apiVersion: v1
kind: Secret
metadata:
  name: {{ include "application.fullname" . }}-secret
  labels:
    {{- include "application.labels" . | nindent 4 }}

data:
  MINIO_ROOT_USER: "bWluaW9hZG1pbg=="
  MINIO_ROOT_PASSWORD: "bWluaW9hZG1pbg=="